p {
    font-family: Montserrat, serif;
}


.item {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    height: auto;
    width: 300px;
    text-align: center;
    margin: 40px;
    transition: 0.3s;
}

.item img {
    padding: 20px;
    border-radius: 50%;
    transition: 0.3s;
}

.item img:hover {
    padding: 20px;
    border-radius:25%;
    transition: 0.3s;
    transform: scale(1.5);
}

.comprar {
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    height: 50px;
    width: 100%;
    background: #008B8B;
    box-shadow: inset 20px 20px 60px #007676,
    inset -20px -20px 60px #00a0a0;
    color: white;
    transition: 0.3s;
}

.comprar:hover{
    box-shadow: inset -20px -20px 60px #007676,
    inset 20px 20px 60px #00a0a0;
    transition: 0.3s;

}

.products {
    /*margin-left: 50vm;*/
    display: inline-flex;
}